body.main {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.main {
    flex: 1;
}
    .main .top-row {
        background-color: #f7f7f7;
        border-bottom: 1px solid #d6d5d5;
        z-index: 999;
        height: 3.5rem;
        display: flex;
        align-items: center;
    }
        .main .top-row .site-title {
            margin-right: auto;
            font-size: 2em;
            font-weight: bold;
        }
        .main .top-row h1.site-title {
            color: #000000;
            margin-top: 0px;
            margin-bottom: 0px;
        }
        .main .top-row .links > a, .main .top-row .links > .btn-link {
            white-space: nowrap;
            margin-left: 1.5rem;
        }
        .main .top-row .links a:first-child {
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .main .top-row .links a, .main .top-row .links .btn-link {
        }
        .main .top-row .links a:hover, .main .top-row .links .btn-link:hover {
        }
@media (max-width: 767.98px) {
    .main .top-row a, .main .top-row .btn-link {
        margin-left: 0;
    }
}
@media (min-width: 768px) {
    .main .top-row {
        position: sticky;
        top: 0;
    }
    .main > div {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
.archive-index {
    background-color:#efefef
}
#site_container {
    padding-top: 1.1rem;
}
#page_container {
    padding-top: 1.1rem;
}
