<div class="top-row px-4">
    <h1 class="site-title"><a href="/" class="text-reset text-decoration-none">Your Website</a></h1>
    <div class="links">
        <a href="/@Constants.BlogPath/">Blog</a>
    </div>
</div>