<div class="card">
    <div class="card-header"><span class="oi oi-folder"></span> Categories</div>
    <div class="list-group list-group-flush">
        @foreach (IDocument category in Outputs
           .FromPipeline(nameof(Data))
           .FilterSources($"{Constants.BlogPath}/categories/*")
           .OrderBy(x => x.GetString("Title")))
        {
            category.GetString("Title");
            var link = category.GetLink().RemoveEnd(".yml"); //remove .yml from path
            <a href="@link" class="list-group-item list-group-item-action @(link==Document.GetLink()?"active":"")">@category.GetTitle()</a>
        }
    </div>
</div>
