Enumerate: => Inputs.FilterSources($"{Constants.BlogPath}/posts/*").Select(x => x.GetDateTime("Published").ToString("yyyy/MM")).Distinct()
DestinationPath: => new NormalizedPath($"{Constants.BlogPath}/{Current}/index.html")
Title: => $"Post Archive - {Current}"
ShowSidebar: true
---
<section class="blog-section">
    <div class="blog-container">
        @{
            DateTime archiveDate;
            if (DateTime.TryParse(Model.GetString(Keys.Current), out archiveDate))
            {
                <h1>Post from @archiveDate.ToString("MMMM yyyy")</h1>
            }            
            @Html.Partial($"/{Constants.BlogPath}/_posts.cshtml", Outputs[nameof(Content)]
                .Flatten()
                .FilterSources($"{Constants.BlogPath}/posts/*")
                .Where(doc => doc.GetDateTime("Published").ToString("yyyy/MM").Equals(Model.GetString(Keys.Current)))
                .OrderByDescending(doc => doc.GetDateTime("Published")))            
        }
    </div>
</section>